deployment:
  replicas: 1

ports:
  web:
    port: 80
    exposedPort: 80
    redirectTo:
      port: websecure
  websecure:
    port: 443
    exposedPort: 443
    http3:
      enabled: true
    tls:
      enabled: true

service:
  type: LoadBalancer

ingressRoute:
  dashboard:
    enabled: false

logs:
  general:
    level: INFO
  access:
    enabled: true

resources:
  requests:
    cpu: "100m"
    memory: "50Mi"
  limits:
    cpu: "300m"
    memory: "150Mi"
